.page {
  padding: 1rem;
  flex-direction: column;
  align-items: center;
}

.rejfont {
  font-family: Bricolage Grotesque;
  font-style: regular;
  font-size: 10rem;
}

.rejc {
  font-size: 1.2rem;
}

.buttons {
  gap: 20px
}

.profile {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
